<!doctype html>
<html lang="en">
  <head>
    <title>Slack Application Engineer Coding Exercise</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/foundation.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <div>
        <div class="col-md-10">
          <h1>Slack Application Engineer Coding Exercise</h1>
          <p>Please enter a URL below. We'll fetch the source for you, and let you highlight the tags that we find in the source.
          <div id="error" class="alert alert-danger collapse"></div>
          <form id="fetch_form" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="fetch_url">URL to fetch</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" name="fetch_url" id="fetch_url" placeholder="URL" required>
              </div>
              <div class="col-sm-2">
                <button class="form-control btn btn-primary" type="submit">Fetch</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 right-sidebar">
          <h4>Try an example!</h4>
          <ol class="list-unstyled">
            <li><a>google.com</a></li>
            <li><a>slack.com</a></li>
            <li><a>stackoverflow.com</a></li>
            <li><a>tingley.org</a></li>
            <li><a>wikipedia.com</a></li>
          </ol>
        </div>
      </div>
      <div class="col-md-12">
        <div id="fetch_url_spinner" class="spinner collapse">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <ul class="pager" id="tag-items"></ul>
        <pre id="formatted_html" class='html collapse'></pre>
      </div>
    </div>
  </body>
</html>
